In [109]:
import numpy as np
import pandas as pd

import os
file_path = './data/covid19-global-forecasting-week-2/'
for dirname, _, filenames in os.walk(file_path):
    for filename in filenames:
        print(os.path.join(dirname, filename))

./data/covid19-global-forecasting-week-2/test.csv
./data/covid19-global-forecasting-week-2/submission.csv
./data/covid19-global-forecasting-week-2/testing_data_with_weather_info_week_2.csv
./data/covid19-global-forecasting-week-2/training_data_with_weather_info_week_2.csv
./data/covid19-global-forecasting-week-2/train.csv

## Import data

In [116]:
train = pd.read_csv(file_path+ 'training_data_with_weather_info_week_2.csv')
test = pd.read_csv(file_path+ 'testing_data_with_weather_info_week_2.csv')
submission = pd.read_csv(file_path+ 'submission.csv')

In [117]:
train=train.drop('Id', axis=1)
train=train.rename(columns={'Id.1':'Id'})
test=test.drop('ForecastId', axis=1)
test=test.rename(columns={'ForecastId.1':'ForecastId'})

In [118]:
display(train.tail())
display(test.tail())

,Id,Country_Region,Province_State,Date,ConfirmedCases,Fatalities,country+province,Lat,Long,day_from_jan_first,temp,min,max,stp,wdsp,prcp,fog
18811,29360,Zimbabwe,NaN,2020-03-21,3.0,0.0,Zimbabwe-,-17.829167,31.052222,81,68.7,62.6,81.9,999.9,5.4,99.99,1
18812,29361,Zimbabwe,NaN,2020-03-22,3.0,0.0,Zimbabwe-,-17.829167,31.052222,82,71.4,60.8,83.7,854.2,5.3,0.00,0
18813,29362,Zimbabwe,NaN,2020-03-23,3.0,1.0,Zimbabwe-,-17.829167,31.052222,83,71.4,60.8,83.7,854.2,5.3,0.00,0
18814,29363,Zimbabwe,NaN,2020-03-24,3.0,1.0,Zimbabwe-,-17.829167,31.052222,84,71.4,60.8,83.7,854.2,5.3,0.00,0
18815,29364,Zimbabwe,NaN,2020-03-25,3.0,1.0,Zimbabwe-,-17.829167,31.052222,85,71.4,60.8,83.7,854.2,5.3,0.00,0

,ForecastId,Country_Region,Province_State,Date,country+province,day_from_jan_first,Lat,Long,temp,min,max,stp,wdsp,prcp,fog
12637,12638,Zimbabwe,NaN,2020-04-26,Zimbabwe-,51,-17.829167,31.052222,76.4,68.0,82.4,999.9,4.6,0.00,0
12638,12639,Zimbabwe,NaN,2020-04-27,Zimbabwe-,52,-17.829167,31.052222,74.3,62.4,86.2,999.9,4.0,0.00,0
12639,12640,Zimbabwe,NaN,2020-04-28,Zimbabwe-,53,-17.829167,31.052222,73.8,63.0,84.2,999.9,4.4,0.00,0
12640,12641,Zimbabwe,NaN,2020-04-29,Zimbabwe-,54,-17.829167,31.052222,75.4,67.5,82.4,999.9,6.8,0.00,1
12641,12642,Zimbabwe,NaN,2020-04-30,Zimbabwe-,55,-17.829167,31.052222,63.3,60.8,68.0,999.9,5.6,99.99,1

## Data Cleaning

In [119]:
# Format data
def Date_formatting(df):
    # Date col format
    df['Date'] = df['Date'].apply(lambda x: x.replace
                                 ('-',''))
    df['Date'] = df['Date'].astype(int)
    
    # Drop Country_Region and Province_State
        # == country+province
    df=df.drop('Country_Region', axis=1)
    df=df.drop('Province_State', axis=1)
    # '-' replacing to '_'
    df['country+province'] = df['country+province'].applt(lambda x: x.replace
                                                         ('-','_'))
    
    display(df.head())
    # print(df.isnull().sum())
    return df

In [120]:
train = Date_formatting(train)
test = Date_formatting(test)

,Id,Date,ConfirmedCases,Fatalities,country+province,Lat,Long,day_from_jan_first,temp,min,max,stp,wdsp,prcp,fog
0,1,20200122,0.0,0.0,Afghanistan-,33.0,65.0,22,42.6,33.6,54.9,999.9,9.4,0.00,0
1,2,20200123,0.0,0.0,Afghanistan-,33.0,65.0,23,42.0,32.7,55.9,999.9,14.9,99.99,1
2,3,20200124,0.0,0.0,Afghanistan-,33.0,65.0,24,40.1,36.9,43.2,999.9,10.4,0.17,1
3,4,20200125,0.0,0.0,Afghanistan-,33.0,65.0,25,46.0,37.9,56.3,999.9,6.1,0.57,1
4,5,20200126,0.0,0.0,Afghanistan-,33.0,65.0,26,42.8,36.1,53.1,999.9,10.8,0.00,1

,ForecastId,Date,country+province,day_from_jan_first,Lat,Long,temp,min,max,stp,wdsp,prcp,fog
0,1,20200319,Afghanistan-,22,33.0,65.0,42.6,33.6,54.9,999.9,9.4,0.00,0
1,2,20200320,Afghanistan-,23,33.0,65.0,42.0,32.7,55.9,999.9,14.9,99.99,1
2,3,20200321,Afghanistan-,24,33.0,65.0,40.1,36.9,43.2,999.9,10.4,0.17,1
3,4,20200322,Afghanistan-,25,33.0,65.0,46.0,37.9,56.3,999.9,6.1,0.57,1
4,5,20200323,Afghanistan-,26,33.0,65.0,42.8,36.1,53.1,999.9,10.8,0.00,1

In [123]:
train.isnull().sum()

Id                    0
Date                  0
ConfirmedCases        0
Fatalities            0
country+province      0
Lat                   0
Long                  0
day_from_jan_first    0
temp                  0
min                   0
max                   0
stp                   0
wdsp                  0
prcp                  0
fog                   0
dtype: int64

In [144]:
test.isnull().sum()

ForecastId            0
Date                  0
country+province      0
day_from_jan_first    0
Lat                   0
Long                  0
temp                  0
min                   0
max                   0
stp                   0
wdsp                  0
prcp                  0
fog                   0
dtype: int64

## PrePare Training

In [147]:
# get from weather dataset, attr
x_list = ['Date', 'Lat', 
          'Long','day_from_jan_first', 'temp',
          'min', 'max', 'stp', 'wdsp', 'wdsp',
          'prcp', 'fog'
         ]# 'country+province' not yet insert
x = train[x_list]
y1 = train[['ConfirmedCases']]
y2 = train[['Fatalities']]
x_test = test[x_list]

In [164]:
y1.describe()

       ConfirmedCases
count    18816.000000
mean       343.114052
std       3580.120962
min          0.000000
25%          0.000000
50%          0.000000
75%         15.000000
max      74386.000000

In [165]:

pred_y1_df.describe()

       ConfirmedCases_prediction
count               12642.000000
mean                  327.657333
std                  3304.583627
min                     0.000000
25%                     0.000000
50%                     0.000000
75%                    17.000000
max                 67801.000000

In [148]:
# load RandomForest
from sklearn.ensemble import RandomForestClassifier
Tree_model = RandomForestClassifier(max_depth=200, 
                                    random_state=0)

### Train Confirmed Cases Tree

In [149]:
Tree_model.fit(x,y1)
pred_y1 = Tree_model.predict(x_test)
pred_y1_df = pd.DataFrame(pred_y1)
pred_y1_df.columns = ['ConfirmedCases_prediction']

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

In [156]:
from collections import Counter
# Counter(pred_y1_df['ConfirmedCases_prediction'])

Counter({0.0: 7474,
         1.0: 623,
         2.0: 247,
         10.0: 81,
         12.0: 37,
         23.0: 27,
         33.0: 15,
         38.0: 14,
         42.0: 12,
         51.0: 21,
         55.0: 7,
         59.0: 8,
         64.0: 4,
         70.0: 7,
         76.0: 38,
         104.0: 5,
         123.0: 9,
         146.0: 45,
         3.0: 242,
         5.0: 105,
         17.0: 30,
         19.0: 28,
         20.0: 28,
         24.0: 20,
         26.0: 22,
         37.0: 13,
         48.0: 8,
         54.0: 5,
         60.0: 7,
         74.0: 9,
         87.0: 6,
         90.0: 6,
         139.0: 4,
         230.0: 3,
         264.0: 1,
         302.0: 2,
         4.0: 150,
         8.0: 50,
         18.0: 77,
         52.0: 5,
         78.0: 5,
         84.0: 10,
         115.0: 4,
         136.0: 38,
         160.0: 2,
         235.0: 4,
         249.0: 7,
         265.0: 2,
         6.0: 80,
         9.0: 69,
         32.0: 17,
         39.0: 13,
         13.0: 52,
         22.0: 28,
         28.0: 32,
         11.0: 43,
         15.0: 36,
         35.0: 18,
         46.0: 6,
         61.0: 11,
         68.0: 7,
         94.0: 12,
         144.0: 4,
         184.0: 3,
         221.0: 4,
         319.0: 4,
         397.0: 1,
         443.0: 2,
         7.0: 78,
         16.0: 61,
         36.0: 17,
         21.0: 23,
         49.0: 16,
         57.0: 8,
         71.0: 6,
         121.0: 6,
         229.0: 1,
         355.0: 5,
         411.0: 3,
         466.0: 1,
         182.0: 1,
         246.0: 5,
         504.0: 2,
         655.0: 2,
         860.0: 1,
         1018.0: 40,
         1332.0: 2,
         1646.0: 1,
         2013.0: 1,
         2388.0: 1,
         2814.0: 1,
         4474.0: 2,
         5283.0: 1,
         5588.0: 1,
         44.0: 11,
         53.0: 13,
         72.0: 9,
         93.0: 65,
         195.0: 4,
         210.0: 1,
         214.0: 3,
         228.0: 3,
         256.0: 3,
         278.0: 1,
         285.0: 4,
         305.0: 2,
         377.0: 3,
         392.0: 3,
         419.0: 1,
         14.0: 32,
         25.0: 15,
         27.0: 19,
         69.0: 8,
         81.0: 8,
         86.0: 8,
         50.0: 17,
         109.0: 7,
         169.0: 3,
         200.0: 3,
         239.0: 1,
         267.0: 6,
         314.0: 3,
         559.0: 1,
         689.0: 1,
         886.0: 1,
         1058.0: 2,
         1243.0: 1,
         1486.0: 1,
         1795.0: 1,
         2257.0: 1,
         2815.0: 1,
         3743.0: 2,
         4269.0: 1,
         4937.0: 1,
         63.0: 5,
         89.0: 10,
         166.0: 1,
         176.0: 13,
         31.0: 16,
         151.0: 2,
         162.0: 8,
         321.0: 2,
         372.0: 1,
         621.0: 2,
         793.0: 1,
         1021.0: 2,
         1924.0: 2,
         2247.0: 1,
         2554.0: 1,
         40.0: 11,
         67.0: 9,
         92.0: 4,
         127.0: 8,
         163.0: 4,
         201.0: 3,
         218.0: 4,
         242.0: 2,
         99.0: 9,
         114.0: 3,
         91.0: 21,
         96.0: 6,
         56.0: 8,
         66.0: 9,
         75.0: 91,
         29.0: 20,
         103.0: 8,
         186.0: 3,
         231.0: 1,
         271.0: 1,
         424.0: 3,
         472.0: 1,
         617.0: 2,
         41.0: 13,
         34.0: 11,
         79.0: 7,
         177.0: 5,
         185.0: 1,
         181.0: 2,
         219.0: 4,
         628.0: 1,
         1013.0: 1,
         1342.0: 2,
         43.0: 13,
         155.0: 4,
         238.0: 4,
         434.0: 1,
         990.0: 40,
         733.0: 1,
         950.0: 1,
         973.0: 1,
         989.0: 2,
         413.0: 2,
         414.0: 4,
         418.0: 4,
         422.0: 1,
         426.0: 2,
         428.0: 2,
         429.0: 1,
         435.0: 2,
         436.0: 1,
         437.0: 1,
         442.0: 4,
         452.0: 1,
         456.0: 2,
         469.0: 1,
         480.0: 6,
         491.0: 1,
         537.0: 2,
         558.0: 1,
         561.0: 1,
         111.0: 4,
         168.0: 41,
         576.0: 45,
         313.0: 2,
         318.0: 38,
         322.0: 3,
         296.0: 32,
         290.0: 2,
         293.0: 9,
         294.0: 2,
         102.0: 6,
         119.0: 5,
         120.0: 4,
         124.0: 5,
         125.0: 28,
         129.0: 4,
         133.0: 47,
         134.0: 11,
         62.0: 10,
         1131.0: 1,
         1159.0: 1,
         1177.0: 1,
         1219.0: 1,
         1241.0: 2,
         1261.0: 2,
         1294.0: 1,
         1316.0: 1,
         1322.0: 1,
         1328.0: 1,
         1331.0: 1,
         1333.0: 3,
         1339.0: 1,
         1345.0: 1,
         1347.0: 3,
         1348.0: 1,
         1349.0: 2,
         1350.0: 3,
         1351.0: 1,
         1352.0: 4,
         1353.0: 1,
         1356.0: 4,
         1360.0: 1,
         1361.0: 1,
         1364.0: 1,
         1370.0: 1,
         1378.0: 1,
         1395.0: 1,
         1400.0: 1,
         1415.0: 1,
         254.0: 4,
         252.0: 33,
         237.0: 1,
         245.0: 36,
         147.0: 5,
         138.0: 5,
         317.0: 1,
         481.0: 7,
         482.0: 22,
         483.0: 1,
         484.0: 8,
         190.0: 2,
         1272.0: 23,
         1169.0: 1,
         1212.0: 1,
         1231.0: 3,
         1270.0: 1,
         1271.0: 3,
         1273.0: 11,
         1274.0: 3,
         410.0: 1,
         935.0: 36,
         95.0: 3,
         100.0: 4,
         67332.0: 1,
         67466.0: 1,
         67592.0: 1,
         67666.0: 1,
         67707.0: 1,
         67743.0: 1,
         67760.0: 1,
         67773.0: 1,
         67781.0: 1,
         67786.0: 1,
         67790.0: 2,
         67794.0: 1,
         67798.0: 1,
         67799.0: 1,
         67800.0: 6,
         67801.0: 2,
         444.0: 2,
         549.0: 1,
         1423.0: 1,
         3554.0: 1,
         7153.0: 1,
         66907.0: 1,
         13522.0: 1,
         16678.0: 1,
         19665.0: 1,
         22112.0: 1,
         24953.0: 1,
         27100.0: 1,
         31728.0: 1,
         33366.0: 1,
         988.0: 1,
         1001.0: 1,
         1016.0: 3,
         631.0: 39,
         633.0: 2,
         636.0: 2,
         638.0: 1,
         913.0: 1,
         934.0: 6,
         936.0: 4,
         126.0: 4,
         105.0: 4,
         108.0: 5,
         30.0: 21,
         232.0: 1,
         236.0: 2,
         247.0: 1,
         248.0: 5,
         250.0: 3,
         756.0: 8,
         758.0: 18,
         275.0: 3,
         760.0: 3,
         509.0: 2,
         523.0: 2,
         541.0: 1,
         544.0: 1,
         546.0: 1,
         749.0: 3,
         750.0: 1,
         754.0: 1,
         755.0: 1,
         342.0: 5,
         344.0: 4,
         346.0: 1,
         353.0: 3,
         358.0: 1,
         361.0: 1,
         363.0: 2,
         371.0: 1,
         380.0: 1,
         404.0: 2,
         433.0: 2,
         337.0: 5,
         112.0: 3,
         135.0: 2,
         203.0: 3,
         243.0: 1,
         257.0: 4,
         286.0: 3,
         311.0: 2,
         326.0: 2,
         539.0: 34,
         470.0: 1,
         514.0: 1,
         520.0: 1,
         529.0: 2,
         531.0: 1,
         538.0: 4,
         137.0: 5,
         141.0: 6,
         145.0: 4,
         122.0: 4,
         174.0: 29,
         171.0: 8,
         1172.0: 1,
         1174.0: 1,
         1175.0: 1,
         1203.0: 1,
         1205.0: 9,
         1206.0: 1,
         1213.0: 2,
         1215.0: 13,
         1227.0: 2,
         1232.0: 2,
         1233.0: 1,
         1234.0: 1,
         1236.0: 3,
         1238.0: 3,
         1240.0: 1,
         73.0: 7,
         80.0: 9,
         65.0: 4,
         128.0: 3,
         206.0: 2,
         315.0: 2,
         382.0: 2,
         116.0: 3,
         132.0: 1,
         189.0: 5,
         253.0: 4,
         298.0: 3,
         396.0: 3,
         464.0: 1,
         694.0: 1,
         833.0: 2,
         995.0: 1,
         1394.0: 1,
         1654.0: 1,
         262.0: 2,
         615.0: 1,
         801.0: 1,
         827.0: 2,
         864.0: 1,
         914.0: 1,
         977.0: 2,
         1057.0: 1,
         1151.0: 1,
         1255.0: 1,
         1326.0: 1,
         1450.0: 2,
         1591.0: 1,
         1724.0: 1,
         706.0: 36,
         454.0: 2,
         691.0: 1,
         705.0: 2,
         58.0: 5,
         199.0: 3,
         367.0: 2,
         506.0: 1,
         981.0: 2,
         1082.0: 1,
         1173.0: 1,
         110.0: 6,
         150.0: 3,
         196.0: 6,
         366.0: 2,
         402.0: 3,
         205.0: 3,
         225.0: 2,
         400.0: 3,
         450.0: 2,
         626.0: 1,
         700.0: 1,
         792.0: 1,
         880.0: 1,
         45.0: 17,
         130.0: 4,
         191.0: 2,
         204.0: 4,
         653.0: 1,
         949.0: 1,
         1126.0: 1,
         1209.0: 1,
         1784.0: 1,
         2281.0: 2,
         3661.0: 1,
         4469.0: 1,
         4499.0: 1,
         6633.0: 1,
         7652.0: 1,
         9043.0: 1,
         10871.0: 1,
         12612.0: 1,
         14282.0: 1,
         19856.0: 2,
         22304.0: 1,
         25233.0: 1,
         159.0: 5,
         670.0: 3,
         799.0: 1,
         1040.0: 1,
         1176.0: 1,
         1457.0: 1,
         1908.0: 1,
         2078.0: 1,
         3675.0: 2,
         4585.0: 1,
         5795.0: 1,
         7272.0: 1,
         9257.0: 1,
         12327.0: 1,
         15320.0: 1,
         19848.0: 1,
         22213.0: 1,
         29056.0: 2,
         331.0: 4,
         387.0: 1,
         495.0: 3,
         530.0: 1,
         695.0: 2,
         743.0: 1,
         821.0: 1,
         85.0: 9,
         167.0: 3,
         187.0: 6,
         226.0: 1,
         156.0: 2,
         180.0: 3,
         220.0: 3,
         330.0: 1,
         409.0: 1,
         473.0: 1,
         588.0: 2,
         648.0: 1,
         737.0: 1,
         117.0: 4,
         172.0: 2,
         227.0: 1,
         369.0: 1,
         579.0: 2,
         686.0: 1,
         790.0: 1,
         388.0: 1,
         593.0: 1,
         978.0: 1,
         1501.0: 1,
         2336.0: 1,
         2922.0: 1,
         3513.0: 1,
         4747.0: 1,
         5823.0: 1,
         6566.0: 1,
         7161.0: 1,
         8042.0: 1,
         9000.0: 1,
         10075.0: 1,
         11364.0: 1,
         12729.0: 1,
         13938.0: 1,
         14991.0: 1,
         16169.0: 1,
         17361.0: 1,
         18407.0: 1,
         19644.0: 1,
         20610.0: 1,
         23049.0: 2,
         24811.0: 1,
         27017.0: 1,
         223.0: 1,
         292.0: 1,
         557.0: 2,
         683.0: 1,
         785.0: 2,
         1125.0: 2,
         1329.0: 2,
         1564.0: 1,
         213.0: 1,
         304.0: 1,
         427.0: 1,
         712.0: 1,
         1071.0: 2,
         2369.0: 1,
         453.0: 1,
         888.0: 1,
         1694.0: 1,
         2036.0: 1,
         2502.0: 1,
         3089.0: 1,
         3858.0: 1,
         4636.0: 1,
         5883.0: 1,
         7375.0: 1,
         170.0: 2,
         241.0: 1,
         274.0: 2,
         360.0: 1,
         420.0: 1,
         461.0: 1,
         502.0: 1,
         511.0: 1,
         581.0: 2,
         639.0: 2,
         701.0: 1,
         773.0: 1,
         839.0: 2,
         878.0: 1,
         889.0: 1,
         924.0: 1,
         963.0: 1,
         1007.0: 1,
         1128.0: 2,
         1193.0: 1,
         1307.0: 1,
         4335.0: 2,
         602.0: 1,
         1766.0: 1,
         2337.0: 1,
         3150.0: 1,
         3736.0: 1,
         5186.0: 1,
         5621.0: 1,
         6088.0: 1,
         6593.0: 1,
         7041.0: 1,
         7314.0: 1,
         7478.0: 1,
         7513.0: 1,
         142.0: 2,
         148.0: 2,
         197.0: 4,
         77.0: 11,
         157.0: 2,
         333.0: 1,
         140.0: 2,
         335.0: 1,
         875.0: 5,
         1099.0: 1,
         83.0: 3,
         149.0: 4,
         47.0: 12,
         143.0: 2,
         82.0: 2,
         188.0: 1,
         503.0: 2,
         804.0: 1,
         959.0: 1,
         1135.0: 1,
         1413.0: 1,
         1705.0: 1,
         2051.0: 1,
         2460.0: 1,
         2994.0: 1,
         598.0: 1,
         702.0: 1,
         996.0: 1,
         1090.0: 1,
         1221.0: 1,
         1463.0: 1,
         1550.0: 1,
         1746.0: 1,
         1914.0: 2,
         2118.0: 1,
         2621.0: 1,
         299.0: 1,
         501.0: 1,
         730.0: 1,
         972.0: 1,
         1063.0: 1,
         345.0: 2,
         234.0: 3,
         395.0: 2,
         416.0: 1,
         251.0: 1,
         425.0: 3,
         536.0: 1,
         901.0: 1,
         1051.0: 1,
         448.0: 2,
         1020.0: 1,
         1280.0: 1,
         2060.0: 2,
         2362.0: 1,
         2995.0: 1,
         131.0: 2,
         158.0: 1,
         260.0: 2,
         277.0: 2,
         308.0: 1,
         794.0: 1,
         906.0: 1,
         306.0: 1,
         438.0: 2,
         658.0: 1,
         101.0: 4,
         208.0: 1,
         118.0: 3,
         562.0: 2,
         767.0: 1,
         900.0: 1,
         303.0: 2,
         384.0: 1,
         106.0: 2,
         178.0: 2,
         216.0: 2,
         341.0: 1,
         383.0: 1,
         528.0: 1,
         202.0: 1,
         240.0: 1,
         554.0: 1,
         709.0: 1,
         165.0: 2,
         222.0: 1,
         259.0: 1,
         500.0: 2,
         673.0: 1,
         1073.0: 1,
         1695.0: 1,
         2277.0: 2,
         5232.0: 1,
         6391.0: 1,
         7798.0: 1,
         9942.0: 1,
         11748.0: 1,
         13910.0: 1,
         17963.0: 1,
         20410.0: 1,
         25374.0: 1,
         35136.0: 2,
         39885.0: 1,
         49515.0: 1,
         161.0: 1,
         652.0: 1,
         1139.0: 1,
         1359.0: 1,
         2200.0: 2,
         2700.0: 1,
         3028.0: 1,
         4075.0: 1,
         5294.0: 1,
         6575.0: 1,
         8795.0: 2,
         9877.0: 1,
         10897.0: 1,
         212.0: 1,
         272.0: 1,
         721.0: 2,
         98.0: 2,
         192.0: 2,
         359.0: 1,
         1529.0: 2,
         1872.0: 1,
         2433.0: 1,
         381.0: 2,
         152.0: 2,
         401.0: 1,
         280.0: 1,
         282.0: 2,
         340.0: 2,
         390.0: 1,
         591.0: 1,
         704.0: 2,
         723.0: 1,
         194.0: 2,
         327.0: 1,
         415.0: 1,
         618.0: 1,
         417.0: 1,
         563.0: 1,
         659.0: 1,
         1004.0: 1,
         1412.0: 1,
         1682.0: 1,
         585.0: 2,
         753.0: 1,
         1049.0: 1,
         1285.0: 1,
         1537.0: 1,
         1865.0: 1,
         270.0: 1,
         368.0: 1,
         477.0: 1,
         107.0: 2,
         193.0: 1,
         244.0: 1,
         349.0: 1,
         164.0: 2,
         328.0: 2,
         525.0: 2,
         646.0: 1,
         1793.0: 1,
         2296.0: 1,
         261.0: 1,
         207.0: 2,
         354.0: 1,
         323.0: 1,
         742.0: 1,
         890.0: 1,
         1327.0: 1,
         2844.0: 1,
         4402.0: 1,
         173.0: 3,
         421.0: 1,
         732.0: 1,
         967.0: 1,
         1706.0: 1,
         2495.0: 1,
         5365.0: 1,
         8310.0: 1,
         11710.0: 1,
         15800.0: 1,
         20884.0: 1,
         25681.0: 1,
         30841.0: 1,
         590.0: 1,
         356.0: 1,
         567.0: 1,
         698.0: 1,
         946.0: 1,
         1260.0: 1,
         394.0: 1,
         643.0: 1,
         955.0: 1,
         1229.0: 1,
         97.0: 1,
         1140.0: 1,
         1543.0: 1,
         1950.0: 1,
         2626.0: 1,
         2689.0: 1,
         3983.0: 1,
         5018.0: 1,
         6650.0: 2,
         8077.0: 1,
         9529.0: 1})

In [193]:
pred_y1_df.head()

   ConfirmedCases_prediction
0                        0.0
1                        0.0
2                        0.0
3                        0.0
4                        0.0

### Train Deaths Tree

In [158]:
Tree_model.fit(x, y2)
pred_y2 = Tree_model.predict(x_test)
pred_y2_df = pd.DataFrame(pred_y2)
pred_y2_df.columns = ['Death_prediction']

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

## Prepare for Submission

In [168]:
sub_new = submission[["ForecastId"]]

In [169]:
sub_new

       ForecastId
0               1
1               2
2               3
3               4
4               5
...           ...
12637       12638
12638       12639
12639       12640
12640       12641
12641       12642

[12642 rows x 1 columns]

In [188]:
submit = pd.concat([pred_y1_df, pred_y2_df, sub_new], axis =1)

submit["ConfirmedCases_prediction"] = submit["ConfirmedCases_prediction"].astype(int)
submit["Death_prediction"] = submit["Death_prediction"].astype(int)
submit.head()

   ConfirmedCases_prediction  Death_prediction  ForecastId
0                          0                 0           1
1                          0                 0           2
2                          0                 0           3
3                          0                 0           4
4                          0                 0           5

In [189]:
submit.columns = ['ConfirmedCases', 'Fatalities', 'ForecastId']
submit = submit[['ForecastId','ConfirmedCases', 'Fatalities']]

In [190]:
submit.describe()

         ForecastId  ConfirmedCases    Fatalities
count  12642.000000    12642.000000  12642.000000
mean    6321.500000      327.657333      9.948347
std     3649.575386     3304.583627    147.842126
min        1.000000        0.000000      0.000000
25%     3161.250000        0.000000      0.000000
50%     6321.500000        0.000000      0.000000
75%     9481.750000       17.000000      0.000000
max    12642.000000    67801.000000   3647.000000

In [191]:
submit

       ForecastId  ConfirmedCases  Fatalities
0               1               0           0
1               2               0           0
2               3               0           0
3               4               0           0
4               5               0           0
...           ...             ...         ...
12637       12638               0           0
12638       12639               0           0
12639       12640               0           0
12640       12641               0           0
12641       12642               0           0

[12642 rows x 3 columns]

In [192]:
Sub = submit
Sub.to_csv('RF01.csv', index=False)